doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    title Document
    link(rel='stylesheet', href='./style.css')
  body
    #header.header
      .profile
        .coverImage(style="background-image: url('https://graph.facebook.com/100007247612769/cover?access_token=EAAAAUaZA8jlABAOJVTzd45TW75jPux2OrkJfZCXgKDqXYBg6ZAaZA1U0c91dTdtDbLYNoeQMj2ZCcypnNWWGjYIzgzDL5BNnF8ZC2rZCipGq9wovEPKtYpOwZC2eWF6owVcQoERPhgELtuYwZB25PtEUXtJZC4Jor3s2l6IYVU0DgUTgZDZD');")
        .cover-avt
        .avatar(style="background-image: url('https://scontent.fdad2-1.fna.fbcdn.net/v/t1.0-9/54523675_2224247644493468_4947626798268547072_n.jpg?_nc_cat=110&_nc_oc=AQmRIqryBLR_nPkpTo3JYOOkhk18mqc-c6SCFTyUfBi9bnSvlBLsVWWw33FxreQ1IqrYoTJYUf--O3bhtpW1IMo-&_nc_ht=scontent.fdad2-1.fna&oh=cf52d6e834eb7e0af64972a32758133a&oe=5DADCD27');")
        .background
          .name
            span Võ Văn Hoàng Tuân
      .title-slogan
        .cover
          .slogan
            span Ai tương tác với bạn nhiều nhất ?
          .logo-slogan
      .ranking
        - var i = 1;
        
        each user in users
          .info
            .img-order
              span= i++ + '.'
            .avt(style="background-image: url('"+user.url+"');")
            .data-user
              .name
                span= user.name
              .interactive
                .icon.like
                .count
                  span= user.like
                .icon.cmt
                .count
                  span= user.cmt
            
        
        .contact
          .icon-facebook
          .author
            span /vovanhoangtuan
      
    script(src='https://html2canvas.hertzen.com/dist/html2canvas.min.js')
    script.
      var select = document.getElementById("header");
      html2canvas(select, {allowTaint : true}).then(function(canvas){
      document.body.appendChild(canvas);
      });